apache-airflow-providers-celery
cryptography
cython
flasgger
Flask
Flask-RESTful
fsspec
ndg-httpsclient
newrelic==6.4.4.161
oci
ocifs
oracledb
pandas
pandas_market_calendars
pandas==2.2.2
pendulum
polars
psycopg2-binary
pyarrow
pyasn1
pymongo
pymssql
pyodbc
pyOpenSSL
pytz
pywinrm
redis==5.0.3
requests
slack-sdk
sonar
sqlalchemy